{% extends "layout.html" %}
{% block content %}

<div class="ui two column stackable centered grid">
  <div class="eight wide column">
    <div class="ui segment">
			<h2 class="ui center aligned header">Upload a photo of a flower</h2>

			<div class="ui container">
        <form action="/upload_flower_image" method="post" enctype="multipart/form-data" class="ui form">
          <div class="field">
            <label>Select image to upload:</label>
						<input type="file" name="file">
					</div>
					<input type="submit" value="Detect genus" class="ui button primary"/>
				</form>
			</div>
		</div>
  </div>
  <div class="four wide column">
    {% include 'prediction_result_flower.html' %}
  </div>
  <div class="twelve wide column">
    <div class="ui icon info message">
      <i class="clipboard outline icon"></i>
      <div class="content">
        <div class="header">
          Demo model
        </div>
        <p>The app runs a demo model built on <a href="https://www.robots.ox.ac.uk/~vgg/data/flowers/17/index.html" target="_blank">this dataset</a>.</p>
      </div>
    </div>
    <div class="ui icon info message">
      <i class="sun outline icon"></i>
      <div class="content">
        <div class="header">
          Recognizing 17 flower genera
        </div>
        <p>Daffodil, Snowdrop, LilyValley, Bluebell, Crocus, Iris, Tigerlily, Tulip, Fritillary, Sunflower, Daisy, ColtsFoot, Dandelion, Cowslip, Buttercup, Windflower, Pansy</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
